<body class="nav-md">

  <script>
  if (jQuery("body").width() < 760) {
    $('body').addClass('nav-sm');
    $('body').removeClass('nav-md')
  }
  </script>
  <style type="text/css">
  .padding-left{
    padding-left: 10px;
  }
  </style>

  <!-- Container -->
  <div class="container body">
    <!-- Main Container -->
    <div class="main_container_db">

      <!-- Sidebar -->
      {{> sidebar }}
      <!-- /Sidebar -->

      <!-- page content -->
      <div class="right_col_db page_content" role="main">

       <!-- top navigation ! -->
       {{> topbar }}
       <!-- /top navigation -->


       <!-- main cont -->
       <div class="main_cont">

        <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/edit/folderdata/?id={{folderData._id}}">{{projectData.title}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="/edit/folderdata/?id={{folderData._id}}"></a>{{folderData.title}}</li>

                </ol>
            </nav>
       

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_content">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="col-md-offset-2 col-md-6 text-center">Edit Milestone</h3>
                  </div>

                  <div class="clearfix"></div>

                  <div class="row">
                    <div class="col-md-12 col-xs-12  widget_tally_box col-lg-12">
                          <form class="form form-horizontal" method="POST" onsubmit="return datevalidate()">
                            <div class="form-group row col-md-12   ">
                              <label for="project_name" class="pull-left col-form-label col-md-2 text-right">Title</label>
                              <div class="col-sm-6">
                              <input type="text" class="form-control" name="project_name" id="project_name" placeholder="Project Name..." value="{{folderData.title}}" required="required">
                                <input type="hidden" class="form-control" name="name" id="project_name"  value="{{projectData.title}}">
                              </div>
                            </div>

                            <div class="form-group row col-md-12   ">
                              <label for="project_name" class="pull-left col-form-label col-md-2 text-right">Description</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="description" id="description" placeholder="Description..." value="{{folderData.description}}" required="required">
                              </div>
                            </div>

                            <div class="form-group row col-md-12   ">
                              <label for="project_name" class="pull-left col-form-label col-md-2 text-right">Start Date</label>
                              <div class="col-sm-6">

                                <input type="text" class="form-control" name="startDate" id="startDate" placeholder="Start Dtae..." value="{{folderData.startDate}}" required="required">
                              </div>
                            </div>
                            <div class="form-group row col-md-12   ">
                              <label for="project_name" class="pull-left col-form-label col-md-2 text-right">End date</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" name="endDate" id="endDate" placeholder="End Date..." value="{{folderData.endDate}}" required="required">
                              </div>
                            </div>

                            <div class="form-group col-md-12   ">
                                <label for="task_name" class="pull-left col-form-label col-md-2 text-right">Status</label>
                                <div class="col-sm-6">
                                  <select name="status" class="form-control">
                                    {{{taskStatusOptions}}}
                                  </select>           
                                </div>
                              </div>
                              

                              <div class="form-group col-md-12   ">
                                <label for="task_name" class="pull-left col-form-label col-md-2 text-right">Assignee</label>
                                <div class="col-sm-6">
                                  <select name="authorIds" class="form-control" id="assigneeChange">
                                    {{{contactsDropdownHTML}}}
                                  </select>           
                                </div>
                              </div>

                              <div class="form-group col-md-12   ">
                                <label for="task_name" class="pull-left col-form-label col-md-2 text-right">Dependencies</label>
                                <div class="col-sm-6">
                                  <select id="dependencies" name="dependencies" class="multiselect-ui form-control" multiple="multiple" style="min-height:200px;">
                                    {{{dependenciesDropdownHtml}}}
                                </select>           
                                </div>
                              </div>
                              <div class="form-group row col-md-12   ">
                                <label for="task_name" class="pull-left col-form-label col-md-2 text-right">Attachment</label>
                                <div class="col-sm-6">
                                  <input type="hidden" name="attachement" value="{{taskdetails.attachents}}" id="attachement">
                                  <button type="button" class="btn btn-default" id="pick">Browse Files from Google Drive</button> 

                                </div>

                                <div id="attachment_display"><a href="{{attachents.alternateLink}}" target="_blank">{{attachents.title}}</a></div>
                              </div>


                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 text-center">
                              <button class="btn btn-primary">Update</button>
                            </div>
                          </form>
                      </div>
                      <div class="clearfix"></div>
                      <div class="clearfix"></div>
                      <div id="placeholder"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- footer content -->
          <footer>
            <div class="pull-right">
              &copy; elyvt.com
            </div>
            <div class="clearfix"></div>
          </footer>
          <!-- /footer content -->
        </div>
        <!-- /main cont -->
      </div>
      <!-- /page content -->
    </div>
    <!-- /Main Container -->
  </div>
  <!-- /Container --> 





  <div class="modal fade" id="myModal" role="dialog">
       <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content" align="center">
       <div class="login_wrapper" align="center">
         <h2 class="page-header">Register</h2>
           {{#if errors}}
             {{#each errors}}
              <div class="alert alert-danger">{{msg}}</div>
            {{/each}}
           {{/if}}
        <form method="post" action="/users/usertaskregister" align ="center">
          <div class="form-group row col-md-12" align="center">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" name="firstname" align="right">
          </div>
          <div class="form-group row col-md-12">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" align="center">
          </div>
          <div class="form-group row col-md-12">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title" align="center">
          </div>
          <div class="form-group row col-md-12">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" align="center">
          </div>
           
            <div class="form-group row col-md-12">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email">
          </div>
          <div class="form-group row col-md-12">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" align="center">
          </div>
                            
          <div class="form-group row col-md-12">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password2" align="center" />
            <input type="hidden" placeholder="" name="taskId" align="center" value ="{{{taskID}}}">
            <input type="hidden"  placeholder="" name="title" align="center" value="" id ="titleHidden">
            <input type="hidden" placeholder="" name="description" align="center" value ="" id ="descriptionHidden">
            <input type="hidden"  placeholder="" name="startDate" align="center" value ="" id ="startDateHidden">
            <input type="hidden"  placeholder="" name="due" align="center" value ="" id ="duehidden">
            <input type="hidden"  placeholder="" name="status" align="center" value =""
            id ="statusHidden">
           

          </div>
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-right" data-dismiss="modal">Close</button>
        </form>
       
          
        
      </div>
      
    </div>
  </div>
  
</div>





  <!-- jQuery -->
  <!-- http://elyvt.com -->
  <!-- Bootstrap -->
  <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#startDate" ).datepicker({dateFormat:'mm/dd/y'});
    $( "#endDate" ).datepicker({dateFormat:'mm/dd/y'});
  } );
  </script>

  <!-- bootstrap-daterangepicker -->
  <script src="/vendors/moment/min/moment.min.js"></script>
  <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/build/js/custom.js"></script>

 <script type="text/javascript">
    $(window).load(function() {
       $("#assigneeChange").change(function(){
         console.log($("#assigneeChange").val());
         if($("#assigneeChange").val()=="null"){
          $('#myModal').modal('show');
          $("#titleHidden").val($("#title").val());
          $("#descriptionHidden").val($("#description").val());
          $("#startDateHidden").val($("#startDate").val());
          $("#endDateHidden").val($("#endDate").val());
          $("#statusHidden").val($("#status").val());
         }
       });    
    });
</script>


<script src="/js/filepicker.js"></script>
  <script>
  function datevalidate(){
var startDate = $("#startDate").val();
var endDate = $("#endDate").val();
if(startDate!='')
    if(Date.parse(startDate) > Date.parse(endDate)){
   alert("Invalid Date Range");
return false;
}
else {
  return true;
}
}
    function initPicker() {
      var picker = new FilePicker({
        apiKey: 'AIzaSyDL2PCa-Hwx4eptVzJfLHY9Ihq0goWV_JQ',
        clientId: '361479185010-ch9r99j6uhv1ajpobj5eh4cc0m1uvesm',
        buttonEl: document.getElementById('pick'),
        onSelect: function(file) {
          console.log(file);
          $("#attachement").val(JSON.stringify(file));
          $("#attachment_display").html('<a href="'+file.alternateLink+'" target="_blank">'+file.title+'</a>');
          //alert('Selected file is : ' + file.title);
        }
      }); 
    }
  </script>
  
  <script src="https://www.google.com/jsapi?key=AIzaSyDL2PCa-Hwx4eptVzJfLHY9Ihq0goWV_JQ"></script>
  <script src="https://apis.google.com/js/client.js?onload=initPicker"></script>

</body>
</html>
